﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Inline Editor</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" />
    <link href="../style/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../bower_components/angular-ui-tree/dist/angular-ui-tree.min.css" />
    <link href="../style/demo.css" rel="stylesheet" />
    <link href="../style/tree.css" rel="stylesheet" />
    <!--<link href="../style/style.css" rel="stylesheet" />-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<!-- Notice the controller directive -->
<body ng-app="myApp">
    <div class="container" ng-controller="treeCtrl">
        <div class="row">
            <h3>
                <a href="" class="btn btn-default pull-right" ng-click="collapseAll()">Collapse all</a>
                <a href="" class="btn btn-default pull-right" ng-click="expandAll()">Expand all</a>
                <a href="" class="btn btn-default pull-right" ng-click="treeServerCount()">Count</a>
                <a href="" class="btn btn-default pull-right" ng-click="treeServerRebuildRoles()">Rebuild Roles</a>
                <a href="" class="btn btn-default pull-right" ng-click="treeServerRebuildTree()">Rebuild Tree</a>
                <a href="" class="btn btn-default pull-right" ng-click="treeServerGenerate()">Generate</a>
                <a href="" class="btn btn-default pull-right" ng-click="treeServerGetDescendantPermission()">Get Permissions</a>
            </h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div>{{treeTestData}}</div>
                <!-- Nested node template -->
                <script type="text/ng-template" id="nodes_renderer.html">
                    <div ui-tree-handle class="tree-node tree-node-content">
                        <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
                        {{node.title}}
                        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>
                        <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                        </li>
                    </ol>
                </script>
                <div ui-tree id="tree-root">
                    <ol ui-tree-nodes="" ng-model="data">
                        <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../lib/angular.js"></script>
    <script type="text/javascript" src="../lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="../bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script type="text/javascript" src="../books/books.js"></script>
    <script type="text/javascript" src="../app.js"></script>
</body>
</html>
