﻿<div class="container">
    <table>
        <thead>
            <tr><th colspan="4">Drivers Championship Standings</th></tr>
            <tr>
                <td><input type="text" data-ng-model="newItem.name" /></td>
                <td><button data-ng-click="addItem()">Add New</button></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in booksList | orderBy: 'points'">
                <td>{{$index + 1}}</td>
                <td>
                    {{book.Driver.givenName}}&nbsp;{{book.Driver.familyName}}
                </td>
                <td>{{book.Constructors[0].name}}</td>
                <td>{{book.points}}</td>
            </tr>
        </tbody>
    </table>
    <a href="#/view2">View 2</a>
</div>